<!doctype>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>PAI - Formularz</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PAI - formularz.">
        <meta name="author" content="Daniel Iwaniec, Artur Kałuża">

        <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css.css">
    </head>
    <body>
        <header>
            <h1><a href="/">PAI</a></h1>
        </header>
        {% block body %}{% endblock %}
        <footer>Daniel Iwaniec, Artur Kałuża</footer>
    </body>
</html>
